body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    background-color: #1CB5E0;
    
  }
  
  .topnav {
    
    background-color: #000046;
    height: 100%;
  }
  
  .topnav a {
    float: left;
    color: #7b71e9f9;
    
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navigacija{
    height: 45px;
    width: 100%;
    background-color: #070555f1;
    padding: 0;
  }
div {
  height: auto;
  width: 60%;
  margin: 0 auto 0;
  color: white;
  padding-bottom:5px ;
  
}

.text{
  background-color: rgb(111, 105, 105);
}
footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}

h1{
  text-align: center;
}